.AdmissionPage {
    min-height: 500px;
    margin: auto;
}

.AdmissionPageTitle {
    color: green;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.MainContainer {
    min-height: 500px;
}

.AddEpisodeSection {
    min-height: 35px;
    padding: 6px 15px;
}

.AdmissionPageContent {
    margin: 20px;
    padding: 12px 24px;
    border: 2px;
    border-radius: 4px;
    border-color: black;
    border-width: 1px;
    border-style: double;
}

.EpisodeContainer {
    background-color: #d7ecf6b9;
    /* min-height: 300px; */
    margin: 10px;
    padding: 12px 24px;
    border: 2px;
    border-radius: 4px;
    border-color: black;
    border-width: 2px;
    border-style: double;
}

.InputButtonLink {
    background: none !important;
    border: black;
    border-style: inset;
    border-width: 2px;
    padding: 0 !important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: green;
    font-weight: bold;
    cursor: pointer;
}

.AddEpisodeSection {
    margin: 10px 0px;
}

.AddEpisodeDivision {
    float: left;
    margin-right: 3px;
}

.AddEpisodeForm {
    margin-top: 3px;
    color: blue;
}

.AddButton {
    margin-top: 17px;
}

.EpisodeRecord {
    margin: 10px 0px;
    float: none;
    background-color: azure;
    min-height: 38px;
}

.EpisodeItem {
    float: left;
    color: darkblue;
    margin: 0px 15px;
    margin-top: 10px;
}

.PatientDivision {
    padding: 6px 15px;
}

.InputLink {
    text-decoration: underline;
    border: none !important;
    /*input has OS specific font-family*/
    color: green;
    font-weight: bold;
    cursor: pointer;
    background-color: #fff !important;
}

.QRSection,
.ValidateSection,
.DetailsSection {
    margin: 20px;
    margin-top: 20px !important;
    padding: 12px 24px;
    margin: auto;
    width: 35%;
}

.Icons {
    color: navy;
    margin: 10px;
}

.PageHeader {
    background-color: lightblue !important;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 10px;
    float: none;
    min-height: 70px;
    padding: 12px 48px;
    display: grid;
    grid-template-columns: 0.4fr 0.4fr 0.4fr 0.4fr;
    grid-auto-rows: auto;
    grid-auto-flow: column;
}
.fr1{
    grid-column: 1;
}
.Arrow1{
    grid-column: 2;
}
.fr2{
    grid-column: 3;
}
.Arrow2{
    grid-column: 4;
}
.fr3{
    grid-column: 5;
}

.PageBody {
    margin: 10px !important;
    float: none;
    font-size: smaller;
    color: navy;
}

.form_content {
    display: grid;
    grid-template-columns: 0.7fr 1.3fr;
    grid-auto-rows: auto;
    grid-auto-flow: column;
}

label {
    grid-column: 1;
}

label::after {
    content: ' :'
}

input {
    grid-column: 2;
}

label,
input {
    margin: 5px;
}

.imgPatient {
    width: 175px;
    height: 185px;
    border: 2px;
    border-radius: 4px;
    border-color: black;
    border-width: 2px;
    border-style: inset;
    margin: auto;
}

.imgComponent {
    margin: 10px;
    text-align: center;
}

.ScanButton {
    margin: auto;
    float: right;
}