.ConsentRequestsPage {
    min-height: 400px;
}

.ConsentRequestTitle {
    text-align: center;
    font-weight: bold;
    color: green;
}
.ConsentRequestMessage{
    text-align: center;
    font-weight: bold;
    color: brown;
}

.ConsentRequestContainer {
    background-color: #dbdedf4e;
    border-radius: 4px;
    padding: 12px 24px;
    margin: 16px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
table{
    margin: auto;
}
th{
    background-color: #24262b;
    color: #fff;
}
td{
    background-color: #ededed;
    color: black;
    min-width: 125px;
    text-align: center;
    justify-content: center;
}
.InputButtonLink{
    background: none!important;
    border: black;
    border-style: inset;
    border-width: 2px;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: green;
    font-weight: bold;
    cursor: pointer;
}
.HealthDataStatistics{
    background-color: #dbdedf4e;
    /* margin: 12px 15px;
    padding: 16px 12px; */
}