.DashboardPage{
    min-height: 430px;
}

.DashboardContent{
    margin: 10px 15px;
}
.HealthDataStatistics, .ConsentsRequests, .DashboardMain{
    background-color: #fff;
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.322);
    margin: 12px 10px;
    padding: 16px 12px;
}
.btnPage2Go, .btnPage2Back{
    background: none!important;
    border: none;
    padding: 0!important;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
    margin: 10px;
}
.ProfileName{
    float: none;
    color: green;
    font-size: 22px;
    font-weight: bold;
}
.ProfileContent{
    margin-bottom: 10px;
    height: 175px;
    padding: 12px 24px;
}
.Prof-Col{
    float: left;
    height: 200px;
}
.ProfilePhoto{
    width: 15%;
}
.ProfileDetais{
    width: 65%;
}
.ProfileQR{
    float: right;
    width: 20%;
}
.InputButtonLink{
    background: none!important;
    border: black;
    border-style: inset;
    border-width: 2px;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: green;
    font-weight: bold;
    cursor: pointer;
}
