.NewConsentRequestPage{
    /* min-height: 50px; */
}
.NewConsentRequestContainer{
    /* margin: 16px; */
    /* background-color: #dbdedf4e;
    padding: 12px 24px;
    border-radius: 4px;
    min-height: 200px; */
}
.NewConsentRequestTitle{
    text-align: center;
    font-weight: bold;
    color: green;
    /* margin-bottom: 75px; */
}
.NewConsentRequestCol{
    /* float: left;
    width: 33.33%;
    /* margin-top: 10px; */
    /* text-align: center;
    justify-content: center;  */
}
.NewConsentRequestRow{
    /* margin-top: -15px !important; */
    /* display: grid;
    grid-template-columns: 0.7fr 0.7fr 0.6fr;
    grid-auto-rows: auto;
    grid-auto-flow: column; */
}
.row {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    grid-auto-flow: column;
    margin: 10px 50px;
}

.col1 {
    grid-column: 1;
}


.col2 {
    grid-column: 2;
}

.col3{
    grid-column: 3;
}
.col4{
    grid-column: 4;
}

.col1,
.col2,
.col3,
.col4 {
    margin: 5px;
}